[run]
source = .
omit =
    Tests/*
    scripts/*
    .venv/*
    __pycache__/*
    core-zig/*
    standalone_verifier/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    pass
    raise NotImplementedError

[html]
directory = htmlcov

[xml]
output = coverage.xml